@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  margin: 0;
}

@media screen and (min-width: 720px) {
  body {
    font-size: 20px;
  }
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5em;
  -webkit-box-shadow: .05em .05em .8em grey;
          box-shadow: .05em .05em .8em grey;
  background-color: white;
  z-index: 1;
}

header #logo {
  height: 1.6em;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #row {
  position: absolute;
  left: 1em;
  font-size: 1.3em;
  color: #323232;
}

@media screen and (min-width: 720px) {
  header {
    font-size: 1.5em;
  }
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.7em 0 2em 1.6em;
  font-size: 1.2em;
  background-color: #323232;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 6em;
  margin-bottom: 1.6em;
}

@media screen and (min-width: 720px) {
  footer img {
    position: absolute;
    top: 1em;
    font-size: 1.5em;
  }
}

footer div a {
  margin-left: .5em;
}

footer i {
  color: white;
}

footer div:nth-child(3) i {
  font-size: .7em;
}

footer a, footer div {
  margin-bottom: .7em;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 4.5em 2em 2em;
    text-align: center;
  }
}

.firstview {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.firstview.toohigh {
  top: -4em;
}

@media screen and (min-width: 720px) {
  .firstview {
    height: 40em;
    top: -7em;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.mainmenu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 13em;
  padding: 2.4em 1.5em 5em;
  border-radius: 2.7em 2.7em 0 0;
  background-color: #f0f0f0;
}

.mainmenu h1 {
  font-family: "Shrikhand";
  font-size: 1.7em;
}

@media screen and (min-width: 720px) {
  .mainmenu h1 {
    margin: auto;
  }
}

.mainmenu > i {
  right: 1.4em;
}

@media screen and (min-width: 720px) {
  .mainmenu > i {
    top: 1.5em;
    right: 1.5em !important;
  }
}

.mainmenu > img {
  right: 2.05em;
  top: 2.2em;
}

@media screen and (min-width: 720px) {
  .mainmenu > img {
    right: 2.2em;
    top: 2.25em;
  }
}

.mainmenu section {
  margin-top: 2em;
}

@media screen and (min-width: 720px) {
  .mainmenu {
    margin-top: 20em;
  }
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 21em;
  text-align: center;
  background-color: whitesmoke;
}

.discover .--localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3em;
  font-size: 1.15em;
  background-color: #ebebeb;
}

.discover .--localisation p {
  margin: 0 1.2em;
}

.discover h3 {
  width: 70%;
  margin-top: 1.8em;
  font-size: 1.5em;
}

.discover p {
  margin-top: 1.1em;
  font-size: 1.2em;
  color: #646464;
}

@media screen and (min-width: 720px) {
  .discover {
    font-size: 1.2em;
  }
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 27em;
  padding: 3.5em 1.3em 0 1.3em;
}

.fonctionnement h3 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 720px) {
  .fonctionnement {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3em;
  }
}

.fonctionnement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 5em;
  width: 100%;
  margin: 0 0 1.3em 1em;
  border-radius: 1.3em;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0.2em 0.4em 0.4em #e6e6e6;
          box-shadow: 0.2em 0.4em 0.4em #e6e6e6;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.fonctionnement div i:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -.9em;
  height: 1em;
  width: 1em;
  padding: .5em;
  border-radius: 100em;
  color: white;
  background-color: #9356DC;
}

.fonctionnement div i:not(:first-child) {
  margin-left: 1.8em;
  font-size: 1.4em;
  color: grey;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.fonctionnement div p {
  margin-left: 1.5em;
}

.fonctionnement div:hover {
  background-color: #f0e8fa;
}

.fonctionnement div:hover > i:not(:first-child) {
  color: #9356DC;
}

@media screen and (min-width: 720px) {
  .fonctionnement div {
    width: 70%;
    max-width: 25em;
  }
}

.restaurants {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  padding: 3em 1.3em 2.5em 1.3em;
}

@media screen and (min-width: 720px) {
  .restaurants {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 6em;
    font-size: 1.1em;
  }
}

.restaurants > h3 {
  font-size: 1.5em;
  margin-bottom: 1.2em;
}

@media screen and (min-width: 720px) {
  .restaurants > h3 {
    position: absolute;
    top: .8em;
    font-size: 2em;
  }
}

.restaurants div {
  position: relative;
  height: 16.8em;
  margin-bottom: 1.5em;
}

.restaurants div i {
  bottom: 1.26em;
  right: 1.22em;
}

.restaurants div > img {
  right: 1.75em;
  bottom: 2.3em;
}

@media screen and (min-width: 720px) {
  .restaurants div > img {
    right: 1.1em;
    bottom: 1.9em;
  }
}

@media screen and (min-width: 720px) {
  .restaurants div {
    width: 30%;
    min-width: 11.7em;
    max-width: 35em;
    margin: 0 1.5em 3em;
  }
}

.restaurants a {
  position: absolute;
  width: 100%;
  border-radius: 1.2em;
  text-decoration: none;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0.2em 0.2em 0.5em #c8c8c8;
          box-shadow: 0.2em 0.2em 0.5em #c8c8c8;
}

.restaurants a img {
  width: 100%;
  height: 11.5em;
  border-radius: 1.2em 1.2em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants a .toohigh {
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 719px) {
  .restaurants a .toohigh {
    -o-object-position: center -10em;
       object-position: center -10em;
  }
}

.restaurants a i {
  position: absolute;
  right: .7em;
  top: .8em;
  height: 1em;
  padding: .5em .8em;
  border-radius: .3em;
  font-size: 1em;
  color: #006432;
  background-color: #99E2D0;
}

.restaurants a .--nom {
  margin: .7em 0 0 .6em;
  font-size: 1.4em;
}

@media screen and (min-width: 720px) {
  .restaurants a .--nom {
    margin-top: .2em;
    font-size: 1.3em;
  }
}

.restaurants a .--lieu {
  margin: .3em 0 1em .7em;
  font-size: 1.15em;
  color: #464646;
}

@media screen and (min-width: 720px) {
  .restaurants a .--lieu {
    font-size: 1em;
  }
}

.restaurants a:nth-child(3) img {
  -o-object-position: center -10.2em;
     object-position: center -10.2em;
}

@media screen and (min-width: 720px) {
  .restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurants div > i, .mainmenu > i {
  position: absolute;
  font-size: 1.6em;
  cursor: pointer;
  height: 1.2em;
}

@media screen and (min-width: 720px) {
  .restaurants div > i, .mainmenu > i {
    bottom: 1em;
    right: .8em;
  }
}

.restaurants div .fas.fa-heart, .mainmenu .fas.fa-heart {
  position: absolute;
  width: 2em;
  -webkit-transform: scale(0);
          transform: scale(0);
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.restaurants div .far.fa-heart, .mainmenu .far.fa-heart {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.restaurants div .far.fa-heart:hover + .fas.fa-heart, .restaurants div .fas.fa-heart:hover, .mainmenu .far.fa-heart:hover + .fas.fa-heart, .mainmenu .fas.fa-heart:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition-timing-function: cubic-bezier(0.53, 0.59, 0.61, 0.28);
          transition-timing-function: cubic-bezier(0.53, 0.59, 0.61, 0.28);
}

.restaurants div .far.fa-heart:active, .restaurants div .far.fa-heart:hover, .mainmenu .far.fa-heart:active, .mainmenu .far.fa-heart:hover {
  opacity: 0;
  -webkit-transition-delay: .35s;
          transition-delay: .35s;
}

.mainmenu section .ordre {
  position: relative;
  margin-bottom: 1.5em;
}

.mainmenu section .ordre:before {
  content: "";
  position: absolute;
  top: 1.4em;
  width: 2.5em;
  height: .2em;
  background-color: #99E2D0;
}

.mainmenu section .plat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: .8em .7em;
  margin-bottom: 1em;
  border-radius: .8em;
  -webkit-box-shadow: 0.1em 0.2em 0.3em #c8c8c8;
          box-shadow: 0.1em 0.2em 0.3em #c8c8c8;
  background-color: white;
  cursor: pointer;
  -webkit-transition: padding-right .4s;
  transition: padding-right .4s;
  overflow: hidden;
  /*le bloc de code ci-dessous permet la transition de la coche*/
}

.mainmenu section .plat--nom {
  line-height: 1.2em;
  font-weight: bold;
}

.mainmenu section .plat div:not(.plat--coche) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: .4em;
}

.mainmenu section .plat--description {
  font-size: .8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #3c3c3c;
}

.mainmenu section .plat--prix {
  position: relative;
  right: 0;
  margin: -0.1em 1em 0 .5em;
  -webkit-transition: right .4s, margin-left .4s;
  transition: right .4s, margin-left .4s;
}

.mainmenu section .plat--coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  overflow: hidden;
  -webkit-transition: width .4s;
  transition: width .4s;
}

.mainmenu section .plat--coche i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
  width: 1.7em;
  height: 1.7em;
  border-radius: 10em;
  color: #99E2D0;
  background-color: white;
}

.mainmenu section .plat:hover .plat--prix {
  right: 18%;
  margin-left: 4em;
}

.mainmenu section .plat:hover .plat--coche {
  width: 18%;
}

.mainmenu section .plat:hover .plat--coche i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

@media screen and (min-width: 720px) {
  .mainmenu section .plat {
    width: 30em;
  }
}

@media screen and (min-width: 720px) {
  .mainmenu section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  width: 15em;
  height: 3em;
  margin: 2.2em auto 0;
  border-radius: 100em;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  text-decoration: none;
  -webkit-box-shadow: 0.3em 0.4em 0.5em #969696;
          box-shadow: 0.3em 0.4em 0.5em #969696;
  opacity: 100%;
  -webkit-transition: opacity .4s, top .2s, -webkit-box-shadow .2s;
  transition: opacity .4s, top .2s, -webkit-box-shadow .2s;
  transition: opacity .4s, box-shadow .2s, top .2s;
  transition: opacity .4s, box-shadow .2s, top .2s, -webkit-box-shadow .2s;
}

.button:hover {
  top: .3em;
  opacity: 75%;
  -webkit-box-shadow: 0.1em 0.2em 0.4em #646464;
          box-shadow: 0.1em 0.2em 0.4em #646464;
}

.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.8);
  -webkit-animation: "loader" .4s 3s forwards;
          animation: "loader" .4s 3s forwards;
  z-index: 3;
}

.loader i {
  position: absolute;
  margin: -1em 0 0 1em;
  font-size: 5em;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: 2s "loading" linear;
          animation: 2s "loading" linear;
}

.loader i:nth-child(1) {
  -webkit-animation: "pizza1" 1.5s ease-in-out 2 alternate;
          animation: "pizza1" 1.5s ease-in-out 2 alternate;
  color: #e68c5a;
}

.loader i:nth-child(2) {
  -webkit-animation: "pizza2" 1.5s ease-in-out 2 alternate;
          animation: "pizza2" 1.5s ease-in-out 2 alternate;
  color: #aaaa32;
}

.loader i:nth-child(3) {
  -webkit-animation: "pizza3" 1.5s ease-in-out 2 alternate;
          animation: "pizza3" 1.5s ease-in-out 2 alternate;
  color: #649678;
}

.loader i:nth-child(4) {
  -webkit-animation: "pizza4" 1.5s ease-in-out 2 alternate;
          animation: "pizza4" 1.5s ease-in-out 2 alternate;
  color: #50b45a;
}

.loader i:nth-child(5) {
  -webkit-animation: "pizza5" 1.5s ease-in-out 2 alternate;
          animation: "pizza5" 1.5s ease-in-out 2 alternate;
  color: #784664;
}

.loader i:nth-child(6) {
  -webkit-animation: "pizza6" 1.5s ease-in-out 2 alternate;
          animation: "pizza6" 1.5s ease-in-out 2 alternate;
  color: #b43c50;
}

@-webkit-keyframes pizza1 {
  from {
    -webkit-transform: rotate(0deg) translate(0.6em);
            transform: rotate(0deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(420deg) translate(0);
            transform: rotate(420deg) translate(0);
  }
}

@keyframes pizza1 {
  from {
    -webkit-transform: rotate(0deg) translate(0.6em);
            transform: rotate(0deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(420deg) translate(0);
            transform: rotate(420deg) translate(0);
  }
}

@-webkit-keyframes pizza2 {
  from {
    -webkit-transform: rotate(60deg) translate(0.6em);
            transform: rotate(60deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(480deg) translate(0);
            transform: rotate(480deg) translate(0);
  }
}

@keyframes pizza2 {
  from {
    -webkit-transform: rotate(60deg) translate(0.6em);
            transform: rotate(60deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(480deg) translate(0);
            transform: rotate(480deg) translate(0);
  }
}

@-webkit-keyframes pizza3 {
  from {
    -webkit-transform: rotate(120deg) translate(0.6em);
            transform: rotate(120deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(540deg) translate(0);
            transform: rotate(540deg) translate(0);
  }
}

@keyframes pizza3 {
  from {
    -webkit-transform: rotate(120deg) translate(0.6em);
            transform: rotate(120deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(540deg) translate(0);
            transform: rotate(540deg) translate(0);
  }
}

@-webkit-keyframes pizza4 {
  from {
    -webkit-transform: rotate(180deg) translate(0.6em);
            transform: rotate(180deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(600deg) translate(0);
            transform: rotate(600deg) translate(0);
  }
}

@keyframes pizza4 {
  from {
    -webkit-transform: rotate(180deg) translate(0.6em);
            transform: rotate(180deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(600deg) translate(0);
            transform: rotate(600deg) translate(0);
  }
}

@-webkit-keyframes pizza5 {
  from {
    -webkit-transform: rotate(240deg) translate(0.6em);
            transform: rotate(240deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(660deg) translate(0);
            transform: rotate(660deg) translate(0);
  }
}

@keyframes pizza5 {
  from {
    -webkit-transform: rotate(240deg) translate(0.6em);
            transform: rotate(240deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(660deg) translate(0);
            transform: rotate(660deg) translate(0);
  }
}

@-webkit-keyframes pizza6 {
  from {
    -webkit-transform: rotate(300deg) translate(0.6em);
            transform: rotate(300deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(720deg) translate(0);
            transform: rotate(720deg) translate(0);
  }
}

@keyframes pizza6 {
  from {
    -webkit-transform: rotate(300deg) translate(0.6em);
            transform: rotate(300deg) translate(0.6em);
  }
  to {
    -webkit-transform: rotate(720deg) translate(0);
            transform: rotate(720deg) translate(0);
  }
}

@-webkit-keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
    z-index: -3;
  }
}

@keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
    z-index: -3;
  }
}
/*# sourceMappingURL=style.css.map */