header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    box-shadow: .05em .05em .8em grey;
    background-color: white;
    z-index: 1;
    #logo{
        height: 1.6em;
    }
    a{
        @include flex-center
    }
    #row{
        position: absolute;
        left: 1em;
        font-size: 1.3em;
        color: rgb(50, 50, 50);
    }
}