.button{
    @include flex-center;
    position: relative;
    top: 0;
    width: 15em;
    height: 3em;
    margin: 2.2em auto 0;
    border-radius: 100em;
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    text-decoration: none;
    box-shadow: .3em .4em .5em rgb(150, 150, 150);
    opacity: 100%;
    transition: opacity .4s, box-shadow .2s, top .2s;
    &:hover{
        top: .3em;
        opacity: 75%;
        box-shadow: .1em .2em .4em rgb(100, 100, 100);
    }
}