.mainmenu section{
    .ordre{
        position: relative;
        margin-bottom: 1.5em;
        &:before{
            content: "";
            position: absolute;
            top: 1.4em;
            width: 2.5em;
            height: .2em;
            background-color: $color-tertiary;
        }
    }
    .plat{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: .8em .7em;
        margin-bottom: 1em;
        border-radius: .8em;
        box-shadow: .1em .2em .3em rgb(200, 200, 200);
        background-color: white;
        &--nom{
            line-height: 1.2em;
            font-weight: bold;
        }
        div:not(.plat--coche){
            display: flex;
            justify-content: space-between;
            margin-top: .4em;
        }
        &--description{
            font-size: .8em;
            color: rgb(60, 60, 60);
        }
        &--prix{
            margin-right: 1em;
        }
        &--coche{
            @include flex-center;
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            border-radius: 0 .7em .7em 0;
            background-color: $color-tertiary;
        }
    }
}