.restaurants div, .mainmenu{
    >i{
        position: absolute;
        font-size: 1.6em;
        cursor: pointer;
        height: 1.2em;
    }
    .fas.fa-heart{
        pointer-events: none;
        background: linear-gradient($color-secondary, $color-primary);
        background-clip: text;
        color: transparent;
        scale: 0;
        transition: scale .2s;
        transition-delay: .1s;
    }
    .far.fa-heart{
        transition: opacity .3s;
    }
    .far.fa-heart:active + .fas.fa-heart, .far.fa-heart:hover + .fas.fa-heart{
        scale: 1;
        transition-delay: .2s;
        transition-timing-function: cubic-bezier(.53,.59,.61,.28);
    }
    .far.fa-heart:active, .far.fa-heart:hover{
        opacity: 0;
        transition-delay: .35s;
    }
}